DotNetK70Controller.opensdf
DotNetK70Controller.sdf
DotNetK70Controller/Debug/vc120.idb
DotNetK70Controller/Debug/DotNetK70Controller.log
DotNetK70Controller/DotNetK70Controller.vcxproj.filters

DotNetK70Controller/config.txt

Debug/config.txt
DotNetK70Controller/DotNetK70Controller.vcxproj.filters
*.filters
*.pch
*.vcxproj
*.suo
*.ink
*.tlog
*.ipch
*.exe
*.pdb
*.obj
DotNetK70Controller/Debug/DotNetK70Controller.res
