DotNetK70Controller.opensdf
DotNetK70Controller.sdf
*.tlog
DotNetK70Controller/Debug/vc120.idb
*.ipch
*.exe
*.pdb
*.obj
DotNetK70Controller/Debug/DotNetK70Controller.log
DotNetK70Controller/DotNetK70Controller.vcxproj.filters
*.filters
DotNetK70Controller/config.txt
*.pch